main {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form-container {
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding: 50px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: var(--body-background);
  color: var(--text-color);
}

.input-group input:focus {
  border-color: #48c6ef;
  outline: none;
  box-shadow: 0 0 5px rgba(72, 198, 239, 0.5);
}

button {
  width: 100%;
  padding: 15px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  color: black;
}

.message {
  color: red;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

p a {
  color: #48c6ef;
  text-decoration: none;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

.error-message {
  color: #e74c3c;
  font-size: 16px;
  margin-top: 5px;
}

.error-message small {
  display: block;
}

.input-group input.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  button {
    padding: 12px;
    font-size: 14px;
  }
}
